{{ kint(content.field_director['#items'].getValue())}}

<div class="data-preview">
    {{ content.field_preview }}
</div>

<div class="director">
    {{ content.field_director }}
</div>

<br>
<br>

<div class="manager">
    {{ content.field_manager }}
</div>

<br>
<br>

<div class="movie-description">
        {{ content.body }}
</div>
